# Aseprite Extension Build Artifacts
*.aseprite-extension

# Defold Build Artifacts
/example/assets/
/example/.internal/
/example/build/
/example/.editor_settings

# Compiled Lua
*.luac
luac.out

# Python Cache (for CI scripts)
__pycache__/
*.pyc
*.pyo

.luarc.json

